body{
  background-image: linear-gradient(to right, rgb(52, 187, 92), #2853e2) ;
  font-family: sans-serif;
}
#customdiv{
  background-color: rgba(0, 0, 0, 0.692);
  height: 660px;
  width: 633px;
  border-radius: 10px;
  margin: auto;
  margin-top: 4%;
  box-shadow: 0px 8px 10px 4px rgba(0, 0, 0, 0.493);
}
#customlogo{
  height: 100px;
  margin-top: 2%;
  margin-left: 235px;
}
#customheading{
  text-align: center;
  color: #000000;
  margin: 10px;
}
#customtext{
  text-align: center;
  color: rgb(165, 162, 162);
  margin: 10px;
}
input[type=text], input[type=password] {
  margin-top: 5%;
  padding: 10px;
  width: 250px;
  height: 15px;
  display: block;
  border: none;
  border: 3px solid rgb(115, 230, 193);
  border-radius: 10px;
}

#custombutton{
  background-image: linear-gradient(to left, rgb(52, 187, 92), #2853e2 );
  border: none;
  padding:10px 55px;
  color: azure;
  border-radius: 15px;
  margin-top: 40px;
  margin-left: 13%;
}
#customform{
  position: relative;
  margin-left: 30%;
}
#customaccount{
  margin-top: 50px;
}
#customform2{
  position: relative;
  margin-left: 30%;
}
#custombutton2{
  background-image: linear-gradient(to left, rgb(52, 187, 92), #2853e2 );
  border: none;
  padding:10px 55px;
  color: azure;
  border-radius: 15px;
  margin-top: 40px;
  margin-left: 8%;
}